---
layout: default
---

<section>
	{% for post in site.posts %}
		{% unless post.next %}
			<h3 class="code">{{ post.date | date: '%Y' }}</h3>
		{% else %}
			{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
			{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
			{% if year != nyear %}
				<h3 class="code">{{ post.date | date: '%Y' }}</h3>
			{% endif %}
		{% endunless %}


		<ul>
			<li>
				<div class="post-date code">
				</div>
				<div class="title">
                    {% if post.launch %}
                    <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">[Launch] {{ post.launch }} | {{post.launch_date}}</a>
                    {% elsif post.org %}
                    <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}"> [Org News] {{ post.title }}</a>
                    {% else %}
					    <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
                    {% endif %}
				</div>
			</li>
		</ul>
	{% endfor %}

</section>
